<div class="layout">

  <div class="sidebar">
    <div class="sidebar-logo">
      <i class="pi pi-receipt logo-icon"></i>
      <span class="logo-text">FacturePro</span>
    </div>

    <div class="sidebar-divider"></div>

    <nav class="sidebar-nav">
      @for (item of menuItems; track item.route) {
        
         <a [routerLink]="item.route"
          routerLinkActive="nav-item-active"
          class="nav-item">
          <i [class]="item.icon + ' nav-icon'"></i>
          <span>{{ item.label }}</span>
        </a>
      }
    </nav>

    <div class="sidebar-footer">
      <div class="user-info">
        <i class="pi pi-user user-avatar"></i>
        <div>
          <div class="user-name">Administrateur</div>
          <div class="user-role">{{ getEmail() }}</div>
        </div>
      </div>
      <p-button
        icon="pi pi-sign-out"
        severity="danger"
        [text]="true"
        [rounded]="true"
        (onClick)="seDeconnecter()"
        pTooltip="Se déconnecter"
        tooltipPosition="right" />
    </div>

  </div>

  <div class="main-content">
    <div class="topbar">
      <h2 class="page-title">Administration</h2>
      <div class="topbar-right">
        <i class="pi pi-bell topbar-icon"></i>
        <i class="pi pi-cog topbar-icon"></i>
      </div>
    </div>
    <div class="content-body">
      <router-outlet />
    </div>
  </div>

</div>